.button {
    background: #D90000;
    height: 64px;
    width: 300px;
    border-radius: 38px;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 16px;
    border: none;
}
@media (max-width: 1023px) {
    .button {
      font-size: 14px;
      width: 50%;
      height: 48px;
      max-width: 250px;
    }
}
@media (max-width: 375px) {
    .button {
      font-size: 10px;
    }
}