.button {
    background: #D90000;
    height: 64px;
    width: 300px;
    border-radius: 38px;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 16px;
    border: none;
}
@media (max-width: 2561px) and (min-width: 2151px) { 
  .button {
    font-size: 50px;
    width: 40%;
    height: 140px;
    border-radius: 70px;
  }
}
@media (max-width: 2151px) and (min-width: 1751px) { 
  .button {
    font-size: 35px;
    width: 40%;
    height: 105px;
    border-radius: 50px;
  }
}
@media (max-width: 1751px) and (min-width: 1451px) { 
  .button {
    font-size: 24px;
    width: 40%;
    height: 80px;
  }
}
@media (max-width: 1023px) {
    .button {
      font-size: 14px;
      width: 50%;
      height: 48px;
      max-width: 250px;
    }
}
@media (max-width: 375px) {
    .button {
      font-size: 10px;
    }
}